body {
  color: #333;
  font: 16px "Times New Roman","Microsoft YaHei","Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",sans-serif;
  line-height: 2;
  margin: 0;
  
}

#app {
  background: #f2e3ce;
  visibility: hidden;
}

#header {
  padding: 8px;
  color: #999;
  text-align: left;
  /* background: #fff; */
  border-bottom: 1px solid #333;
  box-shadow: 0 0 20px 25px #f9f2e8;

}

#container {
  padding: 20px;
  
}

.noval-cover {
  background: #FFF;
  width: 300px;
  height: 400px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 2px 2px 8px;
  border-radius: 4px 0 0 4px;
  border-left: 2px solid #333;
}

.noval-title {
  text-align: center;
  margin-top: 40px;
  
}

.noval-desc {
  text-align: left;
  margin-top: 40px;
  font-size: 14px;
  line-height: 18px;
  text-indent: 2em;
  
}

.noval-author {
  text-align: center;
  margin: 5px;
  font-size:12px;
}



.page {
  max-width: 880px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #fcf5ed;
  padding: 40px 110px 10px;
  margin-bottom: 20px;
  border-left: 0;
  box-shadow: 3px 3px 8px -3px #838383;
}

.page-header {
  height: 28px;
  color: #666;
  font-size: 14px;
  padding: 36px 0 7px;
  /* position: absolute; */
  /* width: 100%; */
  border-bottom: #dedede solid 1px;
  /* box-shadow: 0 0 20px 25px #f9f2e8; */
  clear:both;

}

.mini-title {
  margin: 0;
  color: #666;
}
.header-left {
  float: left;
}

.header-right {
  float: right;
}

.chapter-content {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.chapter-content p {
  text-indent: 2em;
  margin-bottom: 16px;
  text-align: justify;
}
.btn-wrap {
  text-align: center;
  margin: 20px auto;
}

.chapter-btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
}

.chapter-btn:hover {
  border-bottom: 1px solid #EEE;
}

@media only screen and (max-width: 600px) {
  .page {
    padding: 20px;
    margin: 0;
  }

  #container {
    padding: 0px;
  }
}